.form-create-employee{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.form-create-employee section{
    width: 51%;
    margin: 1rem 0;
}
.form-create-employee section div.react-date-picker{
    width: 100%;
}
.form-create-employee input{
    width: 100%;
    border: 1px solid black;
}