main.hrnet{
    max-width: 100%;
    margin: 0 0 0 300px;
    padding-top: 50px;
}
main.hrnet button.btn-employees{
    margin: 2rem 0;
    padding: 15px 25px;
    border-radius: 10px;
    cursor: pointer;
    background-color: green;
    text-transform: uppercase;
    font-size: 25px;
}
main.hrnet button.btn-employees:hover{
    background-color: lightgreen;
}