section.navbar-employees{
    width: 300px;
    position: fixed;
    top: 230px;
    background-color: blanchedalmond;
    text-align: center;
    padding-top: 2rem;
    height: calc(100vh - 230px);
}
section.navbar-employees h2{
    margin-bottom: 2rem;
}
section.navbar-employees article{
    margin: 2rem;
}