.employee-connected{
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    margin: 0 1rem 2rem;
    position: relative;
}
.employee-connected div{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-bottom: 1rem;
}
.employee-connected p{
    margin: 0 1rem;
}
.employee-connected img{
    width: 30px;
    height: 30px;
}
.employee-connected button{
    padding: 10px 25px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #5A6F08;
    font-size: 20px;
    color: rgb(255, 251, 243);
    width: 100%;
}
.employee-connected button:hover{
    background-color: #92AD17;
}